
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



.dcont{
    width: 100vw;
    display: flex;
}

.dside{
width: 20vw;
position: sticky;
top:0;
}

.outlet{
width: 80vw;
}