.ecreatepost{
    background-color: whitesmoke;
}


.projectcart {
    background-color:whitesmoke;
}

.fprojectimg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.getposimg{

    height: 130px;
    width: 200px;
}