.becon{
    background-color: whitesmoke;
    width: 90%;
}

.blgexpoimgsss {

    background-color: rgb(23, 104, 154);
    width: 100%;
    height: 50%;
}

.blgexpoimgsss img{
    width: 50%;
    height: 100%;
}

.precontfdf{
    background-color: rgb(56, 56, 56);
    color: aliceblue;
    width: 80%;
}


.blogscard{
    /* width: 1000px; */
    height: 350px ;
    object-fit: contain;
}

.preforblogs{
    background-color: whitesmoke;
    color: black;
    font-size: 1.2rem;
}

.card-head{
    background-color: whitesmoke;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}